.main {
	text-align: center;
	padding: 0 15px;
	margin-top: 15px;
}

.board {
	display: inline-block;
	width: 368px;
	border: 1px solid #333;
}

.block {
	width: 122px;
	float: left;
	border: 1px solid #333;
}

.cell {
	height: 40px;
	width: 40px;
	padding: 4px;
	float: left;
	border: 1px solid #333;
	font-size: 20px;
	color: #444;
	-webkit-transition: all .1s linear;
}

.cell:hover {
	cursor: pointer;
}

.cell .pencil {
    display: block;
    color: #888;
    font-size: .5em;
    line-height: 1em;
}

.cell .pencil span {
	margin: 0 1px;
	display: inline-block;
}

.cell.current-cell .pencil {
    color: #ccc;
}

.cell.given {
	font-weight: bold;
	color: #333;
}

.cell.lowlight {
	background: #bce8f1;
	-webkit-transition: all .05s linear;
}

.cell.green {
	background: #c7e4af;
	-webkit-transition: all .05s linear;
}

.cell.red {
	background: #ea5c5a;
	-webkit-transition: all .05s linear;
}

.cell.unsure {
	background: #faebcc;
	-webkit-transition: all .05s linear;
}

.cell.current-cell {
	background: #5ea6e4;
	-webkit-transition: all .05s linear;
}

.button {
	color: #888;
}

.button:hover {
	text-decoration: none;
	cursor: pointer;
	color: #888;
}

.button.active,
.button.active:hover {
	color: #5ea6e4;
}
