.main {
	text-align: center;
	padding: 0 15px;
	margin-top: 15px;
}

.board {
	position: relative;
	display: inline-block;
	width: 368px;
	border: 1px solid #333;
}

.board.complete:after {
    content: "Congrats! You've completed the puzzle";
    position: absolute;
    background: rgba(255,255,255,.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30% 2em;
    font-size: 2em;
}

.block {
	width: 122px;
	float: left;
	border: 1px solid #333;
}

.cell {
	height: 40px;
	width: 40px;
	padding: 4px;
	float: left;
	border: 1px solid #333;
	font-size: 20px;
	color: #444;
	-webkit-transition: all .1s linear;
}

.cell:hover {
	cursor: pointer;
}

.cell .pencil {
    display: block;
    color: #888;
    font-size: .5em;
    line-height: 1em;
}

.cell .pencil span {
	margin: 0 1px;
	display: inline-block;
}

.cell.current-cell .pencil {
    color: #ccc;
}

.cell.given {
	font-weight: bold;
	color: #333;
}

.cell.lowlight {
	background: #bce8f1;
	-webkit-transition: all .05s linear;
}

.cell.green {
	background: #c7e4af;
	-webkit-transition: all .05s linear;
}

.cell.green.border {
	box-shadow: #c7e4af 0 0 1em inset;
	/*border-color: #c7e4af;*/
	background: inherit;
	-webkit-transition: all .05s linear;
}

.cell.red {
	background: #ea5c5a;
	-webkit-transition: all .05s linear;
}

.cell.unsure {
	background: #faebcc;
	-webkit-transition: all .05s linear;
}

.cell.current-cell {
	background: #5ea6e4;
	-webkit-transition: all .05s linear;
}

.button {
	color: #888;
}

.button:hover {
	text-decoration: none;
	cursor: pointer;
	color: #888;
}

.button.active,
.button.active:hover {
	color: #5ea6e4;
}

.new-game {
	margin-top: 1em;
	background: #5ea6e4;
	color: #fff;
}

.new-game:hover {
	opacity: 0.9;
	color: #fff;
}